<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">

    
  <h1 class="title has-text-centered">Password Generator</h1>

  <div class="field">
    <label>Enter Length</label>
    <input class="input" (input)="onChangeLength($event.target.value)" type="number"/>
  </div>

  <div class="field">
 
    <div class="control">
      <div>
        <label class="checkbox">Use Letters</label>
        <input (change)="onChangeUseLetters()" type="checkbox" />
      </div>

      <div>
        <label class="checkbox" >Use Numbers</label>
        <input (change)="onChangeUseNum()" type="checkbox"/>
      </div>

      <div>
        <label class="checkbox" >Use Symbols</label>
        <input (change)="onChangeUseSym()" type="checkbox"/>
      </div>
    </div>   
  </div>

  <div>
    <button class="button"
      [disabled]="!(pwLength && (includeLetters || includeNum || includeSym))"
      (click)="onButtonClick()"
    >Generate!</button>
  </div>

  <div class="box" *ngIf="password"><label>Your Password</label><input class="input" [value]="getPassword()" name="pwGen"/></div>
   </div>
   </div>
</div>
   